html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    transition: background-color 1.5s, color 0.4s;
}
section {
  max-width: 1000px;
  padding: 3px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hidden {
  display: none;
}
body.light-theme {
  background-color: rgb(236, 241, 242);
  color: black;
}

body.dark-theme {
  background-color: rgb(67, 75, 76);
}

a {
  text-decoration: none;
  color: #2c2451;
  transition: color 3.5s;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
body.light-theme h1 {
  color: #2c2451;
  text-shadow: 0px 3px 3px rgba(45, 37, 113, 0.5);
}

body.dark-theme h1 {
  color: rgb(61, 206, 255);
  text-shadow: 0px 3px 3px rgb(0, 63, 80); 
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.hidden-state {
  visibility: hidden;
}

.visible-state {
  visibility: visible;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(182, 182, 182);
  transition: .4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 8px;
  left: 0.3em;
  bottom: 0.3em;
  transform: rotate(270deg);
  background-color: rgb(255, 255, 255);
  transition: transform .6s;
}

.switch input:checked + .slider {
  background-color: #21a7cc;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}
.theme-switch-container {
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.switch-label {
  margin-right: 5px;
  font-size: 16px;
  padding-left: 15px;
}

b {
  font-size: 1.1rem;
  letter-spacing: 3px;
}

.containerMain {
  position: relative;
}
span {
  position: relative;
  right: 0px;
  color: slategray;
  letter-spacing: 2px;
}
.span{
  margin-right: 5px;
  transform: translateX(5px);
  font-size: 13px;
  width: 100px;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 3.8rem;
  margin: 5px;
  margin: auto;
  text-shadow: 0px 3px 3px rgba(45, 37, 113, 0.5);
  transform: skew(-5deg, -5deg);
  margin-left: 0;
  position: relative;
  left: -7px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  margin-bottom: 20px;
}

h1:hover  {
  transform: skew(0deg, 0deg);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #333; 
  color: #fff; 
  text-align: center;
  border-radius: 6px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  font-size: 0.8rem;
  bottom: 95%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  word-break: break-all;
  hyphens: auto;
  width: 100%;
}
h3{
  font-size: 1.2rem;
  hyphens: auto;
  color: whitesmoke;
  background-color: rgb(118, 118, 118);
  padding: 7px;
  border-radius: 0 20px 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 0px #021a36;
}
h4{
  padding: 0;
  margin: 0;
  margin-top: 15px;
  font-size: 1.0rem;
}
p { 
  font-weight: bold;
  letter-spacing: 1px;
  width: 220px;
}
.fix button{
  position: fixed;
  right: 0;
  bottom: 50px;
  padding: 3px;
  font-size: 0.8rem;
  border-radius: 10%;
  width: 40px;
  height: 70px;
  box-shadow: none;
}


button {
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: rgb(69, 79, 90);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin: 0;
  outline: none;
  padding: 0.6em;
  text-align: center;
  text-decoration: none;
  transition: 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  width: 200px;
  margin: 8px;
  /* box-shadow: 5px 5px 0px rgb(69, 79, 90); */
}
button:hover {
  color: aliceblue !important;
  background-color: #021a36;
  transform: translateY(-2px);
}
button:hover > h4 {
  color:azure;
}
button:active {
  box-shadow: none !important;
}
.box--grow .definition {
  margin-bottom: 4px;
  color: rgb(36, 43, 43);
  font-size: 0.7rem;
  filter: blur(2.4px);
}
.hover-word{
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.3s ease-in;
  width: 170px;
  height: 125px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  margin-bottom: 40px;
  border: 1px solid slategray;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
}

.boxPhrases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.3s ease-in;
  width: 240px;
  height: 125px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  margin-bottom: 40px;
  border: 1px solid slategray;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
}

.boxWords {
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  transform: scale(0.95);
}
.box--grow.box--visible {
  transform: scale(1.05);
}

.boxWords--move-right.box--visible {
  transform: translate(10px, 30px);
  transition: 0.5s ease-in;
}

.button-container button {
  /* border: none; */
  border: 0.1px solid black;
  outline: none;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  font-size: 0.7rem;
}

.button-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #970303;
  z-index: -1;
  transition: all 250ms;
}

.button-container button:active::before {
  transform: scale(0.99);
  box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.43);
}
.button-container button:hover::before {
  width: 100%;
}

.inactive-button {
  background-color: white !important;
  color: silver !important;
  visibility: hidden;
}


/* footer */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  color: #555555;
  font-size: 18px;
}
.counter-p{
  color: #333333;
  font-size: 20px;
}
/* footer */
.box {
  display: flex;
}
.box--grow {
  flex-grow: 1;
}
.definition {
  margin-top: 5px;
}
.clickCount{
  background-color: #333333 ;
  color: #f2f2f2;
  padding: 10px;
  font-size: 22px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: auto;
  width: 180px;
}
.clickCountFixed{
  position: fixed;
  margin-top: 25px;
  color: #e20000;
  font-size: 17px;
}
#smile{
  font-size: 2.0rem;
}
#text{
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .boxWords{
    height: 100%;
    margin-top: -20px;
  }
  .box--grow.box--visible{
    margin-top: 20px;
  }
  footer {
    padding: 10px;
  }
  .clickCountFixed{
    margin-top: 15px;
  }
  #smile{
    margin-top: 15px;
  }
}